.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/.env.development
/frontend/.env.test
/frontend/.env.production

/backend/.env
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local
/backend/.env.development
/backend/.env.test
/backend/.env.production

/frontend/node_modules
/frontend/package-lock.json